<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 b-r"><h3 class="m-t-none m-b">Change Password</h3>
      <form class="form-horizontal well well-lg" name="form" role="form" ng-submit="updatePassword()" novalidate>
     
        <div class="form-group" ng-class="{ 'has-error': (form.old_password.$dirty && form.old_password.$invalid ) || (form.old_password.$touched && form.old_password.$pristine && form.old_password.$error.required)}">
          <label>Old password</label>
          <input type="password" placeholder="Enter old password" name="old_password" class="form-control" ng-model="vm.old_password" data-minlength = "8" required="">
          <span ng-show="form.old_password.$error.minlength" class="help-block">Password is too short.</span>
          <span ng-show="(form.old_password.$dirty && form.old_password.$invalid ) || (form.old_password.$touched && form.old_password.$invalid && form.old_password.$pristine && form.old_password.$error.required)" class="help-block">Password is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.new_password.$dirty && form.new_password.$invalid ) || (form.new_password.$touched && form.new_password.$pristine && form.new_password.$error.required)}">
          <label>New password</label> <input type="password" placeholder="Enter new password" name="new_password" class="form-control" ng-model="vm.new_password" data-minlength = "8" required>
          <span ng-show="form.new_password.$error.minlength" class="help-block">Password is too short.</span>
          <span ng-show="(form.new_password.$dirty && form.new_password.$invalid ) || (form.new_password.$touched && form.new_password.$invalid && form.new_password.$pristine && form.new_password.$error.required)" class="help-block">Password is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.cnf_password.$dirty && form.cnf_password.$invalid ) || (form.cnf_password.$touched && form.cnf_password.$pristine && form.cnf_password.$error.required)}">
          <label>Confirm new password</label> <input type="password" placeholder="Confirm new password" name="cnf_password" class="form-control" ng-model="vm.cnf_password" data-minlength = "8" >
          <span ng-show="form.cnf_password.$error.minlength" class="help-block">Password is too short.</span>
          <span ng-show="(form.cnf_password.$dirty && form.cnf_password.$invalid ) || (form.cnf_password.$touched && form.cnf_password.$invalid && form.cnf_password.$pristine && form.cnf_password.$error.required)" class="help-block">Password is required.</span>
        </div>
        <div class= "form-group"><strong>Password complexity:</strong><br>
                - Must not contain three or more contiguous characters of your account name or full name.<br>
               - The password needs to be set six times before it can be reused.</div>
        <div class="text-right"><br>
          <span class="btn btn-sm btn-danger m-t-n-xs"  ng-click="cancel()"><strong>Cancel</strong></span>
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
