<br>
<div class="tabs-container" ng-controller="RedemptionController as RdmCtrl">

    <div ng-show="!pdata.email.length && RdmCtrl.auth('emailMessage')">
        <h4>No Email is set for the Patient. <a href = "#!/editProfile">Click here</a> to update patient's profile.</h4>

    </div>
    <div ng-show="pdata.email.length || !auth('emailMessage') ">
        <div>
            <ul class="nav nav-tabs">
                <!-- <li ng-class="{'active':tab1}" ng-init="tab1=true"><a data-toggle="tab" ng-click="RdmCtrl.tabSwitch(1)" > Products</a></li> -->
                <li ng-class="{'active':tab1}" ng-if="RdmCtrl.auth('productsServices')" ng-init="RdmCtrl.auth('productsServices') ? tabSwitch(1) : ''"><a data-toggle="tab" ng-click="tabSwitch(1)" > Products</a></li>
                <li ng-class="{'active':tab2}" ng-init="RdmCtrl.auth('creditType') == 'wallet_credit' && !RdmCtrl.auth('productsServices') ? tabSwitch(2) : ''" ng-if="RdmCtrl.auth('redeemwallet') && showAmazonTango && RdmCtrl.auth('creditType') == 'wallet_credit'"><a data-toggle="tab" ng-click="tabSwitch(2)" id = 'linkamazonGiftCard'>Amazon / Tango</a></li>
                <li ng-class="{'active':tab3}" ng-init="RdmCtrl.auth('creditType') != 'wallet_credit' && !RdmCtrl.auth('productsServices') ? tabSwitch(3) : ''" ng-if="RdmCtrl.auth('instantGiftCredit')"><a data-toggle="tab" ng-click="tabSwitch(3)" id = 'linkexpressGiftCards'>Express Gifts</a></li>
                <li ng-class="{'active':tab4}" ng-show="RdmCtrl.auth('giftCoupons')"><a data-toggle="tab" ng-click="tabSwitch(4)" id = 'linkgiftCoupon'>Gift Coupons</a></li>
                <li ng-class="{'active':tab5}" ng-show="showInstantRewardsTab"><a data-toggle="tab" ng-click="tabSwitch(5)" >Instant Rewards</a></li>
            </ul>
            <div class="tab-content ">

                <div id="tab-1" ng-class="{'active':tab1, 'tab-pane': true}">
                    <div class="panel-body">
                        <div class = "pull-right ibox-content">
                            <input type="text" placeholder=" Search Products..." ng-model="searchReward.legacy_reward.name">
                        </div>
                        <div class="row ibox-content">
                            <div class="col-md-3" ng-repeat="reward in rewards | filter:searchReward" ng-if="(reward.legacy_reward.vendor_id == 1 ? RdmCtrl.auth('adminProducts') : true)">
                                <div>
                                    <div class="ibox" style="height:325px;">
                                        <div class="ibox-content product-box" >
                                            <div ng-if="reward.legacy_reward.image_path">                                  
                                                <img  ng-src="{{ hostAddress+reward.legacy_reward.image_path+'/'+reward.legacy_reward.image_name}}" style = "width:228px; height: 198px;" />
                                            </div>
                                            <div ng-if="reward.legacy_reward.image_link && !reward.legacy_reward.image_path">                                  
                                                <img  ng-src="{{ reward.legacy_reward.image_link}}" style = "width:228px; height: 198px;" />
                                            </div>
                                            <div ng-if="!reward.legacy_reward.image_path && !reward.legacy_reward.image_link" class="product-imitation">
                                                [Placeholder]
                                            </div>
                                            <div class="product-desc" >
                                                <span class="product-price">
                                                    {{reward.legacy_reward.points}}
                                                </span>
                                                <small class="text-muted">{{reward.legacy_reward.reward_category.name}}</small>

                                                <a href="#" class="product-name" style="overflow-wrap: break-word;overflow-y: hidden;text-overflow: ellipsis;height: 45px;" alt=" {{reward.legacy_reward.name}}"> {{reward.legacy_reward.name}}</a>

                                                <div class="small m-t-xs">
                                                    <!-- Many desktop publishing packages and web page editors now. -->
                                                </div>
                                                <div class="m-t text-right">
                                                    <!--                                                     <div id="ir{{reward.id}}" ng-show="RdmCtrl.auth('instantGiftCredit')" class="btn btn-xs btn-outline btn-primary" ng-click="RdmCtrl.redeemInstant(reward.id, null, reward.product_type_id)" >Instant Redeem <i class="fa fa-long-arrow-right" ></i> </div> -->

                                                    <div id="rr{{reward.id}}" class="btn btn-xs btn-outline btn-primary " ng-if="RdmCtrl.auth('inhouseredemption') && showAmazonTango" ng-disabled = "redeemBtn" ng-click="RdmCtrl.inhouse(reward)" >Redeem <i class="fa fa-long-arrow-right"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" ng-class="{'active':tab2, 'tab-pane': true}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4" ng-repeat="instantReward in instantRewards">
                                <div class="ibox" >
                                    <div class="ibox-title">
                                        <h5>{{instantReward.name}}</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <img ng-src="{{instantReward.image}}" class="img-responsive" style="border-radius: 10px;">
                                        <div class="user-button">
                                            <div class="row">
                                                <br>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-sm btn-block" ng-click="whatisthis(instantReward.name, instantReward.description)">What's this? </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button id="{{instantReward.name}}1" type="button" class="btn btn-primary btn-sm btn-block" ng-disabled="redeemBtn" ng-click="RdmCtrl.walletCredits(instantReward.label)"><i class="fa fa-gift"></i> Redeem</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" ng-class="{'active':tab3, 'tab-pane': true}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6" ng-repeat="instantReward in instantRewards">
                                <div class="ibox" >
                                    <div class="ibox-title">
                                        <h5>{{instantReward.name}}</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <img ng-src="{{instantReward.image}}" class="img-responsive" style="border-radius: 10px;"><br>
                                        <div class="user-button">
                                            <div class="row">
                                                <div ng-repeat="reward in rewards" ng-if="reward.product_type_id == 3 && reward.amount > 0 && reward.status == true">
                                                    <div class="col-md-2">
                                                        <button id="gift{{reward.id}}{{instantReward.id}}" class="btn btn-primary btn-sm" type="button" ng-disabled="instantCreditBtn" ng-click="RdmCtrl.redeemInstant(reward.id, instantReward.label, reward.product_type_id)">${{reward.amount}}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">

                                                    <button id="{{instantReward.name}}2" type="button" class="btn btn-primary btn-sm btn-block" ng-disabled="instantCreditBtn" ng-click="RdmCtrl.enterGiftCredit(instantReward.label)">Enter Amount</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Gift coupons tab-->
                <div id="tab-4" ng-class="{'active':tab4, 'tab-pane': true}">
                   <div class="panel-body">
                    <span ng-if = "!vendorGiftCoupons.length">
                        <h4>Add some gift coupons first.</h4>
                        <a href="{{addGiftCoupon}}" id="addGiftCoupon" target="_blank" class="btn btn-success">Add a Gift Coupon</a>
                        <button ng-click = "RdmCtrl.refreshGiftCoupons()" class ="btn btn-primary"><i class="fa fa-refresh"></i></button>
                    </span>
                    <div class="row" ng-if = "vendorGiftCoupons.length">
                        <div ng-repeat="giftCoupon in vendorGiftCoupons" ng-class="{'row': ($index+1) % 4 == 0}">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            <i class="fa fa-gift text-warning" style="font-size:100px;"></i>
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                {{giftCoupon.points}}
                                            </span>
                                            <a href="#" class="product-name">{{giftCoupon.description}}</a>
                                            <div class="m-t text-right">

                                                <button id="{{giftCoupon.id}}" type="button" class="btn btn-primary btn-outline btn-xs" ng-disabled="couponBtn" ng-click="RdmCtrl.giftCoupon(giftCoupon.id)">Redeem<i class="fa fa-long-arrow-right" ></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>


            <!-- Instant Gift coupons tab-->
            <div id="tab-5" ng-class="{'active':tab5, 'tab-pane': true}">
               <div class="panel-body">
                <span ng-if = "!vendorInstGiftCoupons.length">
                    <h4>Add some instant gift coupons first.</h4>
                    <a href="{{addInstGiftCoupon}}" id="addInstGiftCoupon" target="_blank" class="btn btn-success">Add an Instant Gift Coupon</a>
                    <button ng-click = "RdmCtrl.refreshInstGiftCoupons()" class ="btn btn-primary"><i class="fa fa-refresh"></i></button>
                </span>
                <div class="row" ng-if = "vendorInstGiftCoupons.length">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <h2 class="text-navy">Deals Available For You</h2>
                            <h4>Expires in </h4><br>
                            <div style="margin: 0% 0% 0% 25%; width: 460px;">
                                <dy-flip-clock time="{{timeLeftForExpiry}}"></dy-flip-clock>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="instGiftCoupon in vendorInstGiftCoupons" ng-class="{'row': ($index+1) % 4 == 0}">
                        <div class="col-md-3">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation">
                                        <i class="fa fa-gift text-warning" style="font-size:100px;"></i>
                                    </div>
                                    <div class="product-desc">
                                        <span class="product-price">
                                            {{instGiftCoupon.points}}
                                        </span>
                                        <a href="#" class="product-name">{{instGiftCoupon.description}}</a>
                                        <div class="m-t text-right">

                                            <button id="{{instGiftCoupon.id}}" type="button" class="btn btn-primary btn-outline btn-xs" ng-disabled="couponBtn" ng-click="RdmCtrl.giftCoupon(instGiftCoupon.id)">Redeem<i class="fa fa-long-arrow-right" ></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

